@import url(http://fonts.googleapis.com/css?family=Lobster);

html {
  background: #EFEFEF;
}

body {
  color: #333;
  font-family: Georgia, serif;
  font-size: 16px;
  margin: 10px auto;
  text-shadow: 0 1px white;
  width: 480px;
}

a {
  border-bottom: 1px solid #BBB;
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
}

header h1 {
  color: #1F1E21;
  font-family: Lobster, Georgia, serif;
  font-size: 2em;
  font-weight: bold;
}
header h1 a {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}
header p {
  color: #666;
  margin: 0.5em 0 1.5em 0;
  text-shadow: 0 1px white;
}

nav {
  color: #666;
  font-family: Helvetica, Arial, serif;
  font-size: 0.8em;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
}
nav ul li:before {
  content: " / ";
}
nav ul li:first-child:before {
  content: none;
}
nav ul li a {

}

article p {
  color: #666;
  line-height: 1.3em;
  margin: 0.8em 0;
}
article p a {
  padding-bottom: 1px;
  border-bottom: 1px solid #BBB;
}
article ul {
  margin: 0.5em 0;
}
article ul li {
  color: #666;
  font-family: Helvetica;
  font-size: 0.8em;
  line-height: 2em;
  padding-left: 1em;
}
article h1, article h2 {
  font-size: 1.2em;
  padding: 0.5em 0;
  margin-top: 1.5em;
}
article h3 {
  font-weight: bold;
  margin-top: 1em;
}
article h4 {
  color: #666;
  font-family: Helvetica, Arial, serif;
  font-size: 0.8em;
  margin: 0.2em 0;
  text-transform: uppercase;
}

section.tweets {
  background: white;
  border-radius: 4px;
  margin: 5px -4px 0 -4px;
  padding: 10px;
}
section.tweets p.loading {
  color: #888;
}
ul.tweet_list {
}
ul.tweet_list li {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0.5em 0;
  padding: 0;
}
ul.tweet_list li a.tweet_avatar {
  border-bottom: none;
  clear: left;
  float: left;
  padding: 0px 10px 10px 0px;
}
ul.tweet_list li span.tweet_text {
  display: block;
}
ul.tweet_list li span.tweet_time a {
  display: block;
  border-bottom: none;
  color: #999;
  font-size: 12px;
}

footer {
  background: #FFFFFF;
  border-radius: 4px;
  color: #888;
  font-family: Helvetica, Arial, serif;
  font-size: 0.8em;
  margin: 2em -4px 0 -4px;
  padding: 4px;
}

